---
ARRAY_INSTALL_PKG:
  - { name: git }
  - { name: wget }
  - { name: libselinux-python }
  - { name: mariadb }
  - { name: sysstat }

HOSTNAME: '1mg.org'
PATH_1MG: /usr/local/1mg/
ARRAY_COMMON_MKDIRS:
  - {
    path: "{{PATH_1MG}}",
    owner: 'root',
    group: 'root',
    mode: '0775',
    recurse: 'no'
  }
  - {
    path: "{{PATH_1MG}}etc",
    owner: 'root',
    group: 'root',
    mode: '0775',
    recurse: 'no'
  }
  - {
    path: "{{PATH_1MG}}data",
    owner: 'root',
    group: 'root',
    mode: '0755',
    recurse: 'no'
  }
  # - {
  #   path: "{{PATH_1MG}}www",
  #   owner: 'nginx',
  #   group: 'nginx',
  #   mode: '0775',
  #   recurse: 'no'
  # }
  - {
    path: "{{PATH_1MG}}home",
    owner: 'root',
    group: 'root',
    mode: '0755',
    recurse: 'no'
    }
  - {
    path: "{{PATH_1MG}}bin",
    owner: 'root',
    group: 'root',
    mode: '0755',
    recurse: 'no'
  }
  - {
    path: "/usr/local/docker",
    owner: 'root',
    group: 'root',
    mode: '0755',
    recurse: 'no'
  }
  - {
    path: "/usr/local/git",
    owner: 'root',
    group: 'root',
    mode: '0755',
    recurse: 'no'
  }
  - {
    path: "/usr/local/docker/mysql",
    owner: 'root',
    group: 'root',
    mode: '0755',
    recurse: 'no'
  }
