---
- name: Add the OS specific variables
  include_vars: "{{ ansible_os_family }}.yml"

# tasks file for nginx
- include: install_{{ ansible_os_family }}.yml
- include: setup.yml

- name: Daemon start
  include_tasks: start_{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml
