---
- name: Set backup script
  template:
    src: backup.sh.j2
    dest: "{{ PATH_1MG }}/bin/backup.sh"
    owner: 0
    group: 0
    mode: 0700

- name: Set backup script to crond
  cron:
    name: "backup script"
    minute: "0"
    hour: "0"
    job: "{{ PATH_1MG }}/bin/backup.sh"

- name: Set Update Let's Encrypt Certs
  cron:
    name: "Update Let's Encrypt Certs(ee-megane.com)"
    minute: "0"
    hour: "3"
    day: "1"
    job: "docker run --rm -v {{ PATH_1MG }}/data/www/ee-megane.com/:/var/www/html -v {{ PATH_1MG }}/data/www/letsencrypt:/etc/letsencrypt letsencrypt /usr/bin/certbot-auto renw --no-bootstrap"

- name: Set Update Let's Encrypt Certs
  cron:
    name: "Update Let's Encrypt Certs(server.1mg.org)"
    minute: "15"
    hour: "3"
    day: "1"
    job: "docker run --rm -v {{ PATH_1MG }}/data/www/server.1mg.org/:/var/www/html -v {{ PATH_1MG }}/data/www/letsencrypt:/etc/letsencrypt letsencrypt /usr/bin/certbot-auto renw --no-bootstrap"
