---
- include_tasks: enable.yml
- include_tasks: start.yml

- name: Set backup script
  template:
    src: backup.sh.j2
    dest: "{{ PATH_1MG }}/bin/backup.sh"
    owner: 0
    group: 0
    mode: 0700

- name: Set backup script to crond
  cron:
    name: "backup script"
    minute: "0"
    hour: "0"
    job: "{{ PATH_1MG }}/bin/backup.sh"

- name: Set Update Let's Encrypt Certs
  cron:
    name: "Update Let's Encrypt Certs"
    minute: "15"
    hour: "3"
    day: "1"
    job: "docker exec web-docker_proxy_1 certbot certonly --webroot -w /var/www/html/.well-known/ -d server.1mg.org && cd {{ PATH_1MG }}/data/web-docker/ && docker-compose restart proxy"

- name: Set Update Let's Encrypt Certs
  cron:
    name: "Update Let's Encrypt Certs"
    minute: "30"
    hour: "3"
    day: "1"
    job: "docker exec web-docker_proxy_1 certbot certonly --webroot -w /var/www/html/.well-known/ -d ee-megane.com && cd {{ PATH_1MG }}/data/web-docker/ && docker-compose restart proxy"
