---
- name: Get State Mackerel-Agent repo
  stat:
    path: /etc/yum.repos.d/mackerel.repo
  register: stat_mackerel_repo
  failed_when: False
  when: not ansible_check_mode

- name: Setup Mackerel-Agent
  shell: curl -fsSL https://mackerel.io/file/script/setup-all-yum-v2.sh | MACKEREL_APIKEY='{{ MACKEREL.APIKEY }}' sh
  when:
    - not ansible_check_mode
    - not stat_mackerel_repo.stat.exists

- name: Install Mackerel-Plugins
  yum:
    name: "{{ item }}"
  with_items:
    - mackerel-agent-plugins
    - mackerel-check-plugins
  when:
    - not ansible_check_mode
    - stat_mackerel_repo.stat.exists
