---
- name: Setup Mackerel-Agent
  shell: curl -fsSL https://mackerel.io/file/script/setup-all-yum-v2.sh | MACKEREL_APIKEY='{{ MACKEREL.APIKEY }}' sh

- name: Install Mackerel-Plugins
  yum:
    name: "{{ item }}"
  with_items:
    - mackerel-agent-plugins
    - mackerel-check-plugins

- name: Set Config File
  template:
    src: mackerel-agent.conf.j2
    dest: /etc/mackerel-agent/mackerel-agent.conf
    owner: 0
    group: 0
    mode: 0644
  notify: "systemd restart"

- name: Enabled Service
  command: echo "Enabled {{ role_name }}"
  changed_when: False
  notify: "systemd enable"

- name: Start Service
  command: echo "Started {{ role_name }}"
  changed_when: False
  notify: "systemd start"
