# CentOS-Base.repo
#
# The mirror system uses the connecting IP address of the client and the
# update status of each mirror to pick mirrors that are updated to and
# geographically close to the client.  You should use this for CentOS updates
# unless you are manually picking other mirrors.
#
# If the mirrorlist= does not work for you, as a fall back you can try the 
# remarked out baseurl= line instead.
#
#

{% if VERSION_OS is defined and VERSION_OS_CURRENT > VERSION_OS %}
{% set MIRROR_SERVER='vault.centos.org' %}
{% else %}
{% set MIRROR_SERVER='mirror.centos.org/centos' %}
{% endif %}
[base]
name=CentOS-$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %} - Base
#mirrorlist=http://mirrorlist.centos.org/?release=$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %}&arch=$basearch&repo=os&infra=$infra
baseurl=http://{{ MIRROR_SERVER }}/$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %}/os/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

#released updates
[updates]
name=CentOS-$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %} - Updates
#mirrorlist=http://mirrorlist.centos.org/?release=$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %}&arch=$basearch&repo=updates&infra=$infra
baseurl=http://{{ MIRROR_SERVER }}/$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %}/updates/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

#additional packages that may be useful
[extras]
name=CentOS-$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %} - Extras
#mirrorlist=http://mirrorlist.centos.org/?release=$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %}&arch=$basearch&repo=extras&infra=$infra
baseurl=http://{{ MIRROR_SERVER }}/$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %}/extras/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

#additional packages that extend functionality of existing packages
[centosplus]
name=CentOS-$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %} - Plus
#mirrorlist=http://mirrorlist.centos.org/?release=$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %}&arch=$basearch&repo=centosplus&infra=$infra
baseurl=http://{{ MIRROR_SERVER }}/$releasever{% if VERSION_OS is defined %}$release_minerver{% endif %}/centosplus/$basearch/
gpgcheck=1
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
