#
# hosts.deny	This file contains access rules which are used to
#		deny connections to network services that either use
#		the tcp_wrappers library or that have been
#		started through a tcp_wrappers-enabled xinetd.
#
#		The rules in this file can also be set up in
#		/etc/hosts.allow with a 'deny' option instead.
#
#		See 'man 5 hosts_options' and 'man 5 hosts_access'
#		for information on rule syntax.
#		See 'man tcpd' for information on tcp_wrappers
#
{% set array = [] %}
{% if COMMON_HOSTS_DENY_SETTINGS.MAIN is defined %}
{% set array = array + COMMON_HOSTS_DENY_SETTINGS %}
{% endif %}
{% if COMMON_HOSTGROUP_HOSTS_DENY_SETTINGS.MAIN is defined %}
{% set array = array + COMMON_HOSTGROUP_HOSTS_DENY_SETTINGS %}
{% endif %}
{% if INVENTORY_HOSTS_DENY_SETTINGS.MAIN is defined %}
{% set array = array + INVENTORY_HOSTS_DENY_SETTINGS %}
{% endif %}
{% if INVENTORY_HOSTGROUP_HOSTS_DENY_SETTINGS.MAIN is defined %}
{% set array = array + INVENTORY_HOSTGROUP_HOSTS_DENY_SETTINGS %}
{% endif %}
{% for item in array %}
{{ item.NAME_PROCESS }} : {{ IP }} {% if item.COMMENT is defined %}# {{ item.COMMENT }}{% endif %} 
{% endfor %}
