TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO={{ item.BOOTPROTO if item.BOOTPROTO is defined else 'none' }}
DEFROUTE={{ item.DEFROUTE if item.DEFROUTE is defined else 'no' }}
IPV4_FAILURE_FATAL=no
IPV6INIT={{ 'yes' if NETWORK_SETTINGS.COMMON.ENABLE_IPV6 is defined and NETWORK_SETTINGS.COMMON.ENABLE_IPV6 else 'no' }}
IPV6_AUTOCONF={{ 'yes' if NETWORK_SETTINGS.COMMON.ENABLE_IPV6 is defined and NETWORK_SETTINGS.COMMON.ENABLE_IPV6 else 'no' }}
IPV6_DEFROUTE={{ 'yes' if NETWORK_SETTINGS.COMMON.ENABLE_IPV6 is defined and NETWORK_SETTINGS.COMMON.ENABLE_IPV6 else 'no' }}
IPV6_FAILURE_FATAL={{ 'yes' if NETWORK_SETTINGS.COMMON.ENABLE_IPV6 is defined and NETWORK_SETTINGS.COMMON.ENABLE_IPV6 else 'no' }}
IPV6_ADDR_GEN_MODE=stable-privacy
NAME={{ item.DEVICE }}
DEVICE={{ item.DEVICE }}
ONBOOT={{ item.ONBOOT if item.ONBOOT is defined else 'no' }}
IPADDR={{ item.IPADDR }}
PREFIX={{ item.PREFIX }}
{% if item.DEFROUTE is defined and item.DEFROUTE == 'yes' and NETWORK_SETTINGS.COMMON.GATEWAY is defined %}
GATEWAY={{ NETWORK_SETTINGS.COMMON.GATEWAY }}
{% endif %}
IPV6_PRIVACY={{ 'yes' if NETWORK_SETTINGS.COMMON.ENABLE_IPV6 is defined and NETWORK_SETTINGS.COMMON.ENABLE_IPV6 else 'no' }}
