NETWORKING=yes
HOSTNAME={{ NETWORK_SETTINGS.COMMON.HOSTNAME }}
GATEWAY={{ NETWORK_SETTINGS.COMMON.GATEWAY }}
NETWORKING_IPV6={{ NETWORK_SETTINGS.COMMON.ENABLE_IPV6 if NETWORK_SETTINGS.COMMON.ENABLE_IPV6 is defined else 'no' }}
