# Kernel sysctl configuration file for Red Hat Linux
#
# For binary values, 0 is disabled, 1 is enabled.  See sysctl(8) and
# sysctl.conf(5) for more details.
#
# Use '/sbin/sysctl -a' to list all possible parameters.
{% if SYSCTL_SETTINGS is defined %}
{% for item in SYSCTL_SETTINGS %}
{% if item.comment is defined %}
# {{ item.comment }}
{% endif %}
{{ item.key }} = {{ item.value }}

{% endfor %}
{% endif %}
