---
- include_role:
     name: common_tasks
     tasks_from: group.yml
  with_items: "{{ ARRAY_GROUP }}"

- include_role:
     name: common_tasks
     tasks_from: user.yml
  with_items: "{{ ARRAY_USER }}"

- include_role:
     name: common_tasks
     tasks_from: install_yum.yml
  with_items: "{{ ARRAY_INSTALL_PKG }}"

- include_role:
     name: common_tasks
     tasks_from: mkdir.yml
  with_items:
    - "{{ ARRAY_COMMON_MKDIRS | default([]) }}"
    - "{{ ARRAY_HOSTSGROUP_MKDIRS | default([]) }}"

- include_role:
     name: common_tasks
     tasks_from: disabled_service.yml
  with_items: "{{ ARRAY_DISABLE_SERVICE }}"

- name: Make Symlinks
  file:
    src: "{{ item.src }}"
    path: "{{ item.path }}"
    state: link
  with_items: "{{ ARRAY_COMMON_LINKS | default([]) }}"
