---
- name: Install
  include_tasks: install_{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml

- name: Setup
  include_tasks: setup_{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml

- name: Daemon Start
  include_tasks: start_{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml
