---
- name: Install
  include_tasks: install_{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml

- name: Setup
  include_tasks: setup_{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml

- name: Daemon Started
  include_role:
    name: common_tasks
    tasks_from: service_started_{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml
